
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body{
  font-family: "Rubik" , sans-serif;
}
body::before {
  display: block;
  content: "";
  height: 60px;
}
#learn i {
  color: black;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
